.popup__item {
  padding: 0;
  border: 0;
  font-family: inherit;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  text-align: top;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  outline: none;
}
